<!--<!DOCTYPE html >-->
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/layui.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/AdminLTE.css">
    <link rel="stylesheet" href="../static/css/pagination.css">
</head>
<body style=" position: fixed;left: 205px ; width: 85%;height: 100%;">
<div class="box-header with-border">
    <h3 class="box-title">用户列表</h3>
    <!--/*@thymesVar id="user" type=""*/-->

</div>

<div class="box-body">

    <th:if test="${USER_SESSION.role =='ADMIN'}">
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" title="新建" data-toggle="modal"
                            data-target="#addOrEditModal" onclick="box()"> 新增
                    </button>
                </div>
            </div>
        </div>&nbsp&nbsp&nbsp&nbsp
    </th:if>

    <!--工具栏 数据搜索<h1 th:text="${user}"/> -->
    <div class="box-tools pull-right">
        <div class="has-feedback">
            <form action="/sel" method="post">
                用户名称：<input name="name" >&nbsp&nbsp&nbsp&nbsp
                用户账号：<input name="author" >&nbsp&nbsp&nbsp&nbsp
                <input class="btn btn-default" type="submit" value="查询">
            </form>
        </div>
    </div>
</div>
<div class="table-box" >
    <!-- 数据表格 -->
    <table id="dataList" class="table table-bordered table-striped table-hover dataTable text-center" >
        <thead>
        <tr>
            <th class="sorting">姓名</th>
            <th class="sorting">用户编号</th>
            <th class="sorting">年龄</th>
            <th class="sorting">性别</th>
            <th class="sorting">电话</th>
            <th class="sorting">居住地</th>
            <th class="sorting">出生日期</th>
            <th class="sorting">状态</th>
            <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody th:each="user : ${user}" id="ta1">

        <!--/*@thymesVar id="user" type=""*/-->
        <tr id="qwe">

            <td  th:text="${user.name}"> </td>
            <td th:text="${user.id}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.sex}" style="width: 10%"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.live}"></td>
            <td th:text="${user.born}"></td>
            <td>
                <p th:if="${user.status}==1">在诊</p>
                <p th:if="${user.status}==2">已预约</p>
                <p th:if="${user.status}==3">诊疗中</p>
                <p th:if="${user.status}==4">暂离</p>
            </td>

            <td class="text-center">



                <button th:if="${role }==1 or ${user.id}==${id}" type="button" class="btn bg-olive btn-xs" data-toggle="modal"
                        data-target="#addOrEditModal"  th:onclick="box3([[${user.id}]],[[${user.name}]],[[${user.age}]],
                        [[${user.sex}]],[[${user.phone}]],[[${user.live}]],[[${user.born}]],[[${user.status}]])"> 编辑
                </button>
                <button th:if="${role }!=1 and ${user.id}!=${id}" type="button" class="btn bg-olive btn-xs" data-toggle="modal" disabled="true"
                        data-target="#addOrEditModal"  th:onclick="box3()"> 编辑
                </button>


                <button th:if="${role }==1" type="button" class="btn bg-olive btn-xs" th:onclick="del([[${user.id}]])">删除</button>
                <button th:if="${role }!=1" type="button" class="btn bg-olive btn-xs" disabled="true">删除</button>
            </td>
        </tr>

        </tbody>
        <!-- <div id="demo2"></div>
         <ul id="biuuu_city_list"></ul>-->
    </table>




</div>


<!-- 添加和编辑图书的模态窗口 -->
<div  class="modal" id="user_add">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="myModalLabel">用户信息编辑</h3>
            </div>
            <div class="modal-body">
                <form id="doc_eidt" action="/useradd" method="post">

                    <table id="addOrEditTab" class="table table-bordered table-striped" width="800px">

                        <tr>

                            <td>用户编号</td>
                            <td><input class="form-control" placeholder="姓名" name="id" id="user_id"></td>
                            <td>用户姓名</td>
                            <td><input class="form-control" placeholder="编号" name="name" id="users_name"></td>
                        </tr>
                        <tr>
                            <td>年龄</td>
                            <td><input class="form-control" placeholder="年龄" name="age" id="users_age"  >

                            </td>
                            <td>性别</td>
                            <td><input class="form-control" placeholder="性别" name="sex" id="users_sex"  >
                        </tr>
                        <tr>
                            </td>
                            <td>联系方式</td>
                            <td><input class="form-control" placeholder="电话" name="phone" id="users_phone"  >

                            </td>
                            <!-- <td>作者</td>
                             <td><input class="form-control" placeholder="作者" name="author" id="ebauthor"></td>-->
                            <td>居住地</td>
                            <td>
                                <select class="form-control" id="user_live" name="live" >
                                    <option value="北京">北京</option>
                                    <option value="厦门">厦门</option>
                                    <option value="福州">福州</option>
                                    <option value="广州">广州</option>
                                    <option value="成都">成都</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>出生日期</td>
                            <td><input class="form-control" placeholder="出生日期" name="born" id="users_born"  >

                            </td>
                            <td>状态</td>
                            <td>
                                <select class="form-control" id="user_status" name="status" >
                                    <option value="1">在线</option>
                                    <option value="2">已预约</option>
                                    <option value="3">诊疗中</option>
                                    <option value="4">暂离</option>
                                </select>
                            </td>
                        </tr>


                    </table>
                    <div class="modal-footer">
                        <button class="btn btn-success"  onclick="box1()" type="submit" name="sign">保存
                        </button>
                        <button class="btn btn-default"onclick="box1()" type="button" >关闭</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!--编辑框-->
<div th:include="box.html::eitd_user"   ></div>
</body>
<script type="text/javascript" th:inline="javascript">


    var data = [[${user}]]
    //测试数据
    console.log(data[0])

    function resetFrom() {
        $("#aoe").attr("disabled",true)
        var $vals=$("#addOrEditBook input");
        $vals.each(function(){
            $(this).attr("style","").val("")
        });
    }
    function box(){
        document.getElementById("user_add").style.display="block";
    };
    function box1(){

        document.getElementById("user_add").style.display="none";
        document.getElementById("user_eidt").style.display="none";
    };
    function box3(id,name,age,sex,phone,live,born,status){

        console.log(id,name,age,sex,status,email,duty,born);
        document.getElementById("user_id").value=id;
        document.getElementById("users_name").value=name;
        document.getElementById("users_age").value=age;
        document.getElementById("users_sex").value=sex;

        document.getElementById("users_phone").value=phone;
        document.getElementById("user_live").value=live;
        document.getElementById("users_born").value=born;
        document.getElementById("user_status").value=status;
        document.getElementById("user_eidt").style.display="block";



    };
    function del(id){
        var name = [[${name}]];
        console.log(id);

        window.location.href='/user_del?id='+id;


    };
    function user_eidt() {
        document.getElementById("user_eidt").action='/userup';
    }

</script>
<script src="../static/layui.js"></script>
<script src="../static/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
<script>

    // console.log([[${role}]])
    //
    //
    // layui.use('layer', function() { //独立版的layer无需执行这一句
    //     var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
    //
    //     if([[${role}]]==1){
    //
    //         layer.msg('[[${role}]]', {
    //             time: 2000, //20s后自动关闭
    //             //btn: ['明白了', '知道了', '哦']
    //         });
    //
    //     }
        //触发事件




        $('#layerDemo .layui-btn').on('click', function () {
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });


        //多窗口模式 - esc 键
        $(document).on('keyup', function (e) {
            if (e.keyCode === 27) {
                layer.close(layer.escIndex ? layer.escIndex[0] : 0);
            }
        });
    })
</script>

</html>